body {
    margin: 0;
    font-family:"Euclid Circular A", sans-serif;
    background: linear-gradient(to bottom, #f8fbff, #e3fff7);
}


/* ---------------- ASSESSMENT SCREEN ---------------- */

.assessment-container {
    width: 70%;
    margin: 50px auto;
    text-align: center;
}

.top-icon img {
    width: 100px;
}

h1 {
    font-size: 32px;
    margin-top: 10px;
}

.subtitle {
    margin-top: -10px;
    margin-bottom: 30px;
    color: #555;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
    text-align: left;
}

.progress-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.purple {
    color: #8b5cf6;
}

.progress-bar {
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 10px;
    margin-bottom: 25px;
    overflow: hidden;
}

#progressFill {
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg,#8b5cf6,#14B8A6,#8b5cf6);
    transition: 0.4s;
}

.option {
    padding: 15px 20px;
    border: 1px solid #ddd;
    margin: 12px 0;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.option:hover {
    background: #f7f0ff;
    border-color: #c7a7ff;
}

.option.selected {
    background: #f7eaff;
    border-color: #a855f7;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.btn {
    padding: 12px 20px;
    border: none;
    background: linear-gradient(90deg,#8b5cf6,#14B8A6,#8b5cf6);
    color: white;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.status-message {
    margin-top: 20px;
    color: #a855f7;
}



/* ---------------- ANALYZING SCREEN ---------------- */

.analyzing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.loader {
    width: 45px;
    height: 45px;
    border: 5px solid #e0e0e0;
    border-top-color: #a855f7;
    border-radius: 50%;
    margin: 0 auto 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}


/* ---------------- RESULT SCREEN ---------------- */

.result-container {
    width: 90%;
    max-width: 600px;
    margin: 40px auto;
    text-align: center;
}

.result-card {
    background: white;
    padding: 35px 25px;
    border-radius: 20px;
    box-shadow: 0 4px 25px rgba(0,0,0,0.08);
    margin-bottom: 30px;
}

.matches {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 35px;
}

.match-item {
    background: #e9ffe6;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #a855f7
}
